<div class="how_it_work">
    <div class="header">
        <h2>How it works? Find a perfect home</h2>
        <p>
            Our streamlined process makes finding your dream home simple and stress-free. 
            Start by creating an account and setting your preferences
        </p>
   </div>
   <div class="grid-container">
        <div class="grid-content">
            <div class="content">
                <img src="estate.svg" alt="estate-icon">
                <h5>Find Real Estate</h5>
                <p>
                    Explore a vast array of properties that fit your lifestyle and budget. 
                    Our advanced search tools help you find the perfect match with ease.
                </p>
            </div>
            <div class="content">
                <img src="realtor.svg" alt="realtor-icon">
                <h5>Meet Realtor</h5>
                <p>
                    Connect with experienced and trusted realtors who can guide you through every 
                    step of the buying process, ensuring a smooth and informed experience.
                </p>
            </div>
            <div class="content">
                <img src="keys.svg" alt="keys-icon">
                <h5>Take The Keys</h5>
                <p>
                    Finalize your purchase with confidence. Our seamless process ensures you 
                    get the keys to your new home quickly and effortlessly.
                </p>
            </div>
        </div>
        <div class="grid-content-img">
            <img src="real-estate.jpg" alt="real-estate-image">
        </div>
   </div>
</div>