<div class="featured">
    <div class="header">
        <h2>Featured properties</h2>
        <p>
            Discover our hand-picked selection of the most desirable properties on the market. 
            Each featured property offers unique charm, exceptional amenities, <br> and prime locations. 
            Explore these top listings to find your dream home today. 
        </p>
   </div>
   <div class="card">
        <app-listing-card/>
        <app-listing-card/>
        <app-listing-card/>
        <app-listing-card/>
        <app-listing-card/>
        <app-listing-card/>
        <app-listing-card/>
        <app-listing-card/>
   </div>
   <button routerLink="properties" type="button" class="listing-btn">
        See All Listing
        <img src="black-right-arrow.svg" alt="right-arrow">
    </button>
</div>