@import '../../../styles.scss';

.featured {
    @include justify-center;
    max-width: 100%;
    flex-direction: column;
    padding: 0 10% 6%;
    color: var(--color);
    gap: 2rem;

    .header {
        text-align: center;

        h2 {
            text-transform: capitalize;
            font-size: 2rem;
            margin-bottom: 0.3rem;
        }

        p {
            font-size: 0.875rem;
        }
    }

    .card {
        width: 100%;
        @include grid;
        gap: 1.25rem;
    }

    .listing-btn {
        @include flex-center;
        gap: 0.625rem;
        background-color: $yellow;
        color: $primary;
        padding: 0.625rem 1rem;
        border: none;
        border-radius: 3.125rem;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.65rem;
        transition: .3s ease-in;

        &:hover {
            background-color: $primary;
            color: $white;
            border: 2px solid $yellow;
        }

        img {
            width: 0.875rem;
            filter: var(--filter);
        }
    }
}

@media screen and (mx-width: 998px) {
    .featured {
        width: 100%;

        .header {
            width: 100%;

            p {
                width: 100%;
            }
        }
    }
}