<footer>
    <div class="footer-content">
        <h6>Copyright &#169; 2024. <span>Just Home</span></h6>
        <img class="logo" src="logo.svg" alt="logo">
        <div class="social-icons">
            <a href="https://www.facebook.com/">
                <img src="Facebook.svg" alt="facebook-icon">
            </a>
            <a href="https://www.instagram.com/">
                <img src="instagram.svg" alt="instagram-icon">
            </a>
            <a href="https://www.linkedin.com/feed/">
                <img src="linkedin.svg" alt="linkedin-icon">
            </a>
            <a href="https://x.com/home">
                <img src="twitter.svg" alt="twitter-icon">
            </a>  
        </div>
    </div>
</footer>