<header id="header">
  <nav>
    <a href="">Home</a>
    <a href="#about_us">About us</a>
    <a href="#listing">Listing</a>
    <a href="#testimonial">Testimonial</a>
  </nav>
  <div>
    <img routerLink="" ngSrc="logo.svg" alt="logo" width="120" height="35" priority>
  </div>
  <div class="profile">
    <div class="initials" (click)="toggleDropdown()">
      <div *ngIf="userInitials" class="name">{{userInitials}}</div>
      <h5>{{username}}</h5>
      <img ngSrc="chevron-down.svg" width="30" height="30" alt="chevron-down" priority>
    </div>
    @if (dropdownOpen) {
      <div class="dropdown">
        <div class="content">
          <div *ngIf="userInitials" class="name">{{userInitials}}</div>
          <div class="details">
            <h4>{{email}}</h4>
            <p>{{username}}</p>
          </div>
        </div>
        <div class="content" (click)="accountSettings()">
          <img ngSrc="setting.svg" width="25" height="14.2" alt="settings" priority>
          <h4>Account settings</h4>
        </div>
        <div class="content logout" (click)="logout()">
          <img ngSrc="logout.svg" width="25" height="14.2" alt="settings" priority>
          <h4>Log out</h4>
        </div>
      </div>
    }
  </div>
  <img ngSrc="icon-menu.svg" width="25" height="14.2" class="menu" alt="hamburger-icon" priority>
</header>