@import '../../../styles.scss';

.home-listing {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    .filter-container {
        @include flex-center;
        gap: 1rem;
        width: 100%;
        padding: 1rem 3rem;
        background-color: var(--background-color);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        z-index: 1;

        .search {
            @include justify-between;
            padding: 0 0.875rem;
            border: 1px solid var(--border);
            border-radius: 0.375rem;
            width: 35%;
            height: 2.5rem;

            &:focus-within, &:hover {
                border: 1px solid var(--btn-color);
            }

            input {
                width: 95%;
                height: 100%;
                border: none;
                background-color: inherit !important;
                color: var(--color);
                caret-color: var(--btn-color);
                font-size: 1rem;

                &:focus {
                    outline: none;
                }

                &:placeholder-shown {
                    font-size: 0.875rem;
                }
            }

            img {
                filter: var(--filter);
            }
        }

        .status {
            width: 9%;
            height: 2.5rem;
            border: 1px solid var(--border);
            border-radius: 0.313rem;
            background-color: var(--background-color);
            color: var(--color);
            cursor: pointer;

            &:hover {
                background-color: var(--status-hover);
                color: var(--status-hover-color);
                border: 1px solid var(--btn-border);
            }

            .status-content {
                @include justify-between;
                padding: 0.4rem 0.875rem;
                
                p {
                    font-weight: 500;
                    color: var(--color);
                }

                img {
                    filter: var(--filter);
                }
            }

            .dropdown {
                width: 15.625rem;
                height: auto;
                border: none;
                border-radius: 0.375rem;
                background-color: var(--background-color);
                @include flex-column;
                gap: 0.875rem;
                margin-top: 0.625rem;
                box-shadow: var(--box-shadow);

                h4 {
                    font-weight: 500;
                    font-size: 1rem;    
                    color: var(--color);
                }

                h5 {
                    font-weight: 400;
                    font-size: 1rem;
                    color: var(--color);
                }

                .btn {
                    width: 100%;
                    padding: 0 1rem 0.625rem;

                    .apply-btn {
                        width: 100%;
                        color: var(--color);
                        padding: 0.625rem 1rem;
                        background-color: var(--btn-color);
                        transition: .3s ease-in;
                        text-align: center;
                        font-weight: 500;
                        border: none;
                        border-radius: 0.313rem;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--btn-hover);
                            color: var(--color);
                            border: 1px solid var(--btn-border);
                        }
                    }
                }
            }

            .status-dropdown {
                display: flex;
                padding: 0.625rem 1rem;
                flex-direction: column;
                gap: 0.625rem;

                span {
                    @include flex-center;
                    gap: 0.625rem 1rem;

                    h5 {
                        color: var(--color);
                    }

                    input[type="checkbox"] {
                        height: 1.25rem;
                        width: 1.25rem;
                        background-color: var(--span-color);
                        border: 0.313rem;
                        cursor: pointer;
                        border-radius: 0.375rem;
                    }
                }
            }
        }

        .home-type {
            width: 11%;

            .home-type-dropdown {
                .home {
                    width: 100%;

                    h4 {
                        color: var(--color);
                        padding: 0.625rem 1rem;
                    }

                    .checkbox {
                        @include flex-column;
                        gap: 0.875rem;
                        padding: 0.625rem 1rem;

                        span {
                            @include flex-center;
                            gap: 0.625rem;

                            input[type="checkbox"] {
                                height: 1.25rem;
                                width: 1.25rem;
                                background-color: var(--span-color);
                                border: 0.313rem;
                                cursor: pointer;
                                border-radius: 0.375rem;
                            }

                            h5 {
                                color: var(--color);
                            }
                        }
                    }
                }
            }
        }

        .search-btn {
            width: 10%;
            height: 2.5rem;
            padding: 0.625rem 1rem;
            background-color: var(--btn-color);
            color: $white;
            transition: .3s ease-in;
            text-align: center;
            font-weight: 500;
            border: none;
            border-radius: 0.313rem;
            cursor: pointer;

            &:hover {
                background-color: var(--btn-hover);
                color: var(--color);
                border: 1px solid var(--btn-border);
            }
        }
    }

    .outlet {
        margin-top: 3.75rem;

        .properties {
            max-width: 100%;
            height: auto;
            padding: 1rem 3rem;
        
            h2 {
                color: var(--color);
                font-size: 1.75rem;
                margin-bottom: 2rem;
            }
        
            .loading {
                color: $white;
                font-size: 1.25rem;
            }
        
            .listings {
                width: 100%;
                @include grid;
                gap: 1rem;
            }
        }
    }
}

#filter.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}