<div class="listing-card" routerLink="{{listing().property_id}}">
    <div class="hero-img" [style.backgroundImage]="'url(' + listing().primary_photo.href + ')'">
    </div>
    <div class="sale_type">
        <button type="button" class="btn">{{listing().status}}</button>
    </div>
    <div class="card-content">
        <h6>{{listing().description.type | sentenceCase}}</h6>
        <h6 class="price">{{listing().list_price | currency}}</h6>
        <span class="street">
            <img ngSrc="location.svg" width="25" height="14.2" alt="location-icon" priority>
            <p>{{listing().location.address.line}}</p>
        </span>
        <div class="details">
            <span>
                <img ngSrc="bed.svg" width="25" height="14.2" alt="bed-icon" priority>
                <p>{{listing().description.beds}}</p>
            </span>
            <span>
                <img ngSrc="bath.svg" width="25" height="14.2" alt="bath-icon" priority>
                <p>{{listing().description.baths}}</p>
            </span>
            <span>
                <img ngSrc="copy.svg" width="25" height="14.2" alt="copy-icon" priority>
                <p>{{listing().description.sqft}} sqft</p>
            </span>
        </div>
    </div>
</div>