<div class="listing-card" routerLink="{{listing().property_id}}">
    <img [src]="listing().primary_photo?.href" class="listing-img" alt="">
    <div class="sale_type">
        <button 
            type="button" 
            class="btn" 
            [ngClass]="{
                'sold': listing().status === 'sold',
                'for_rent': listing().status === 'for_rent',
                'for_sale': listing().status === 'for_sale'
            }"
        >
            {{listing().status}}
        </button>
    </div>
    <div class="card-content">
        <h6>{{listing().description.type | sentenceCase}}</h6>
        <h6 class="price">{{listing().list_price | currency}}</h6>
        <span class="street">
            <img src="location.svg" alt="location-icon">
            <p>{{listing().location.address.line}}</p>
        </span>
        <div class="details">
            <span>
                <img src="bed.svg" alt="bed-icon">
                <p>{{listing().description.beds}}</p>
            </span>
            <span>
                <img src="bath.svg" alt="bath-icon">
                <p>{{listing().description.baths}}</p>
            </span>
            <span>
                <img src="copy.svg" alt="copy-icon">
                <p>{{listing().description.sqft}} sqft</p>
            </span>
        </div>
    </div>
</div>