<div class="listing-card">
    <img src="listing.jpg" class="hero-img" alt="home-image">
    <div class="sale_type">
        <button type="button" class="btn">for sale</button>
        <button type="button" class="btn yellow-color">featured</button>
    </div>
    <div class="card-content">
        <h6>Luxury Family Home</h6>
        <span class="street">
            <img src="location.svg" alt="location-icon">
            <p>1800-1818 79th St</p>
        </span>
        <div class="details">
            <h6>$400,000</h6>
            <div class="details-description">
                <span>
                    <img src="bed.svg" alt="bed-icon">
                    <p>4</p>
                </span>
                <span>
                    <img src="bath.svg" alt="bath-icon">
                    <p>2</p>
                </span>
                <span>
                    <img src="copy.svg" alt="copy-icon">
                    <p>400</p>
                </span>
            </div>
        </div>
    </div>
</div>