<div class="discover">
    <div class="hero-img">
        <img src="discover.jpg" alt="hero-image">
    </div>
    <div class="content">
        <h4>Discover a place you'll <br>love to live</h4>
        <p>
            Explore our curated listings to find homes that perfectly match your preferences and lifestyle. 
            Whether you're looking for a cozy apartment in the city or a spacious house in the suburbs, <br>
            we have something for everyone. Start your journey towards finding your dream home today.
        </p>
        <button routerLink="/properties" type="button" class="btn">
            View Properties
            <img src="black-right-arrow.svg" alt="right-arrow">
        </button>
    </div>
</div>