<section class="about">
   <div class="color">
    <div class="header">
        <h2>why you should work with us</h2>
        <p>
            Access thousands of home listings from verified sources, updated <br>
            in real-time to ensure you never miss out on new opportunities.
        </p>
   </div>
   <div class="reason">
        <div class="content">
            <img src="property.svg" alt="property-icon">
            <h5>Wide Range of Properties</h5>
            <p>We offer expert legal help for all related property items in USA.</p>
        </div>
        <div class="content">
            <img src="home.svg" alt="home-icon">
            <h5>Buy or Rent Homes</h5>
            <p>We sell your homes at the best market price and very quickly as well.</p>
        </div>
        <div class="content">
            <img src="trusted.svg" alt="trusted-icon">
            <h5>Trusted by Thousands</h5>
            <p>We offer you free consultancy to get a loan for our new home.</p>
        </div>
   </div>
   </div>
</section>