<div class="container">
    <div class="home">
        <div class="carousel">
            <app-carousel
               [images]="[
                'carousel-1.jpg', 'carousel-2.jpg', 'carousel-3.jpg',
                'carousel-4.jpg', 'carousel-5.jpg', 'carousel-6.jpg'
               ]"
            />
        </div>
        <header id="header">
            <nav>
                <a href="">Home</a>
                <a href="#about_us">About us</a>
                <a href="#listing">Listing</a>
                <a href="#testimonial">Testimonial</a>
                <app-theme-switcher/>
            </nav>
            <div class="image">
                <img src="logo.svg" alt="logo">
            </div>
            <div class="profile">
                <span>
                    <img src="phone.svg" alt="phoneIcon">
                    <p>054 4769087</p>
                </span>
                <div class="button">
                    <button type="button" routerLink="/auth/login" class="btn">Login</button>
                    <button type="button" routerLink="/auth/register" class="btn">Get started</button>
                </div>
            </div>
            <img src="icon-menu.svg" class="menu" alt="hamburger-icon">
        </header>

        <div class="home-content">
            <div class="guide">
                <h5>enjoy the finest homes</h5>
                <h2>find your dream home <br> with ease</h2>
                <h6>Browse thousands of home listings, tailored to your preferences</h6>
                <span class="browse">
                    <a routerLink="/listings">Browse more properties</a>
                    <img src="right-arrow.svg" alt="right_arrow">
                </span>
            </div>
        </div>
        <div class="badge">
            <span>
                <h4>680</h4>
                <h6>Award winning</h6>
            </span>
            <span>
                <h4>8K+</h4>
                <h6>Happy Customer</h6>
            </span>
            <span>
                <h4>500+</h4>
                <h6>Property Ready</h6>
            </span>
        </div>
    </div>
    <app-about id="about_us"/>
    <app-listing id="listing"/>
    <app-how-it-works/>
    <app-discover/>
    <app-testimonial id="testimonial"/>
    <app-footer/>
    <app-back-to-top/>
</div>
