$white: #fff;
$primary: #1A1A1A;
$yellow: #E7C873;
$orange: #EB664E;
$secondary: #1F4B43;
$header: #f9fafb;
$border: #d0d5dd;
$success: #039855;
$disabled: #757575;

:root {
    --white: #fff;
    --primary: #1A1A1A;
    --yellow: #E7C873;
    --orange: #EB664E;
    --secondary: #1F4B43;
    --header: #f9fafb;
    --span: #ededed;
    --even: #d9e6fc;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin show-more {
    width: fit-content;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0 0.625rem;
    background-color: inherit;
    border: none;
    text-decoration: underline;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}

@mixin ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    font-weight: 400;
    font-size: 0.938rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.025rem;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    background-color: var(--white);
}

body[data-theme='dark'] {
    background-color: var(--primary);
}

body[data-theme='light'] {
    --background-color: var(--white);
    --color: var(--primary);
    --testimonial: var(--header);
    --border: var(--secondary);
    --status-hover: var(--header);
    --status-hover-color: var(--primary);
    --btn-color: var(--primary);
    --btn-hover: var(--white);
    --btn-border: var(--primary);
    --box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    --span-color: var(--span);
    --rating: var(--even);
}

body[data-theme='dark'] {
    --background-color: var(--primary);
    --color: var(--white);
    --filter: brightness(0) invert(1);
    --testimonial: var(--primary);
    --border: var(--white);
    --status-hover: var(--primary);
    --status-hover-color: var(--primary);
    --btn-color: var(--orange);
    --btn-hover: var(--primary);
    --btn-border: var(--orange);
    --box-shadow: 0 2px 2px rgba(241, 233, 233, 0.24);
    --span-color: var(--orange);
    --rating: var(--even);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: #e9ecf3;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 1rem;
}