$white: #fff;
$primary: #1A1A1A;
$yellow: #E7C873;
$orange: #EB664E;
$secondary: #1F4B43;
$header: #f9fafb;

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.025rem;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    background-color: $white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: #e9ecf3;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 1rem;
}