:root {
    --white: #fff;
    --primary: #1A1A1A;
    --yellow: #E7C873;
    --orange: #EB664E;
    --secondary: #1F4B43;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
<<<<<<< Updated upstream
=======
    letter-spacing: 0.025rem;
>>>>>>> Stashed changes
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}